<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MegaMenuData</servlet-name>
        <servlet-class>Index.MegaMenuData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category1_searchS</servlet-name>
        <servlet-class>Admin.categories.Category1_searchS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category2_searchS</servlet-name>
        <servlet-class>Admin.categories.Category2_searchS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category3_searchS</servlet-name>
        <servlet-class>Admin.categories.Category3_searchS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandS</servlet-name>
        <servlet-class>Admin.categories.BrandS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category1S</servlet-name>
        <servlet-class>Admin.categories.Category1S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category2S</servlet-name>
        <servlet-class>Admin.categories.Category2S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category3S</servlet-name>
        <servlet-class>Admin.categories.Category3S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductS</servlet-name>
        <servlet-class>Admin.products.ProductS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageS</servlet-name>
        <servlet-class>Admin.products.UploadImageS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSaveS</servlet-name>
        <servlet-class>Admin.products.ProductSaveS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AAAA</servlet-name>
        <servlet-class>Admin.products.AAAA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnitsS</servlet-name>
        <servlet-class>Admin.products.UnitsS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchS</servlet-name>
        <servlet-class>Admin.products.ProductSearchS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateS</servlet-name>
        <servlet-class>Admin.products.ProductUpdateS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteS</servlet-name>
        <servlet-class>Admin.products.ProductDeleteS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductNameS</servlet-name>
        <servlet-class>Search.SearchProductNameS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupS</servlet-name>
        <servlet-class>UserS.SignupS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserExistS</servlet-name>
        <servlet-class>UserS.UserExistS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninS</servlet-name>
        <servlet-class>UserS.SigninS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserS</servlet-name>
        <servlet-class>UserS.DeleteUserS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPermissionS</servlet-name>
        <servlet-class>UserS.AdminPermissionS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailS</servlet-name>
        <servlet-class>Mail.SendMailS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailS</servlet-name>
        <servlet-class>UserS.VerifyEmailS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordS</servlet-name>
        <servlet-class>Mail.ForgotPasswordS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMainAS</servlet-name>
        <servlet-class>Search.SearchMainAS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCat2forCat1S</servlet-name>
        <servlet-class>Search.SearchCat2forCat1S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMainBS</servlet-name>
        <servlet-class>Search.SearchMainBS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MegaMenuData</servlet-name>
        <url-pattern>/MegaMenuData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category1_searchS</servlet-name>
        <url-pattern>/Category1_searchS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category2_searchS</servlet-name>
        <url-pattern>/Category2_searchS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category3_searchS</servlet-name>
        <url-pattern>/Category3_searchS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandS</servlet-name>
        <url-pattern>/BrandS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category1S</servlet-name>
        <url-pattern>/Category1S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category2S</servlet-name>
        <url-pattern>/Category2S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category3S</servlet-name>
        <url-pattern>/Category3S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductS</servlet-name>
        <url-pattern>/ProductS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageS</servlet-name>
        <url-pattern>/UploadImageS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSaveS</servlet-name>
        <url-pattern>/ProductSaveS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AAAA</servlet-name>
        <url-pattern>/AAAA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnitsS</servlet-name>
        <url-pattern>/UnitsS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchS</servlet-name>
        <url-pattern>/ProductSearchS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateS</servlet-name>
        <url-pattern>/ProductUpdateS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteS</servlet-name>
        <url-pattern>/ProductDeleteS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductNameS</servlet-name>
        <url-pattern>/SearchProductNameS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupS</servlet-name>
        <url-pattern>/SignupS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserExistS</servlet-name>
        <url-pattern>/UserExistS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninS</servlet-name>
        <url-pattern>/SigninS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserS</servlet-name>
        <url-pattern>/DeleteUserS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPermissionS</servlet-name>
        <url-pattern>/AdminPermissionS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailS</servlet-name>
        <url-pattern>/SendMailS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailS</servlet-name>
        <url-pattern>/VerifyEmailS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordS</servlet-name>
        <url-pattern>/ForgotPasswordS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMainAS</servlet-name>
        <url-pattern>/SearchMainAS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCat2forCat1S</servlet-name>
        <url-pattern>/SearchCat2forCat1S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMainBS</servlet-name>
        <url-pattern>/SearchMainBS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>
           Listeners.Listener_1
        </listener-class>
    </listener>
</web-app>
